.carroussel-container {
    display: block;
    overflow: hidden;
}

.slide-left {
    transform: translateX(100%);
}

.slide-right {
    transform: translateX(-100%);
}

.carrousel-images {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.carroussel-img {
    width: 100vw;
    position: relative;
    height: 100%;
    object-fit: contain;
    z-index: 10;
}

.left-arrow {
    position: absolute;
    left: 20px;
    bottom: 50%;
    z-index: 100;
    color: #f8b4b4;
    font-size: 20px;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    right: 20px;
    bottom: 50%;
    z-index: 100;
    color: #f8b4b4;
    font-size: 20px;
    cursor: pointer;
}

.carroussel-img.active {
    opacity: 1;
}