.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 5px 15px 0px #000000; 
    box-shadow: 0px 5px 15px 0px #000000;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.line {
    position: absolute;
    display: block;
    height: 2px;
    background: #f8b4b4;
    width: 30px;
}

.line1 {
    transform: translateY(10px);
}

.line3 {
    transform: translateY(20px);
}

a {
    text-decoration: none;
    color: #000000;
}

.logo {
    width: 22vw;
}

.connexion {
    width: 10px;
    height: 30px;
    cursor: pointer;
}

.dot {
    position: absolute;
    display: block;
    height: 5px;
    background: #f8b4b4;
    width: 10px;
    border-radius: 50%;
}

.dot1 {
    transform: translateY(8px);
}

.dot3 {
    transform: translateY(16px);
}